:root {
    --backgroundColor : #00A0A3;
    --backgroundText : #F2F0F2;
    --uploadImage-To-Web-btn : #f29f05;
    --uploadImage-To-Web-btn-border : #B37504;
    --uploagImage-To-Server-btn : #5CF58A;
    --uploadImage-To-Server-btn-border : #2DE388;
    --fileUpload-box-border : #025e73;
    --fileUpload-box-backColor : rgba(2, 94, 115, 0.5);
    --fileUpload-box-backColor-hover : rgba(2, 94, 115, 0.5);
    --removeImage-btn : #cd4535;
    --removeImage-btn-border : #b02818;

}

@media (min-width: 152px) and (max-width: 539px){
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: var(--backgroundColor);
    }
    
    .background-text {
        position: absolute;
        margin: 1vw 7.1vw 0 1vw;
        line-height: 1.07;
        letter-spacing: normal;
        text-align: left;
        color: var(--backgroundText);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 2;
    } 

    .background-text-details {
        text-shadow: 0.3vw 0.3vw 0 rgba(0, 0, 0, 0.35);
        font-family: 'Oswald';
        font-size: 8vw;
        opacity: 0.5;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        transition: all .2s ease-in-out;
    }  

    .change-theme{
        text-shadow: 0.3vw 0.3vw 0 rgba(0, 0, 0, 0.35);
        font-family: 'Oswald';
        font-size: 8vw;
        opacity: 0.5;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        transition: all .2s ease-in-out;
    }

    #F-fox:hover {
        transition: all .2s ease-in-out;
        opacity: 1;
        font-size: 5vw;
        color: #F27127;
    }

    #P-Polar-bear:hover {
        opacity: 1;
        transition: all .2s ease-in-out;
        font-size: 5vw;
        color: #E9ECF2;
    }
    
    .file-upload {
        background-color: #ffffff;
        width: 600px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .file-upload-btn {
        position: absolute;
        width: 32vw;
        height: 9vw;
        border-radius: 4px;
        border: none;
        border-bottom: 4px solid var(--uploadImage-To-Web-btn-border);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        background-color: var(--uploadImage-To-Web-btn);
        margin: 67vh 0 0 33.5vw;
        font-family: 'Oswald';
        font-size: 3vw;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 8vh;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 5;
    }
    
    .file-upload-btn:active {
        border: 0;
        transition: all .2s ease;
    }
    
    .file-upload-btn-text {
        position: absolute;
        margin: -3.5vh 1.5vw 0 5vw;
    }
    
    .file-upload-btn:hover .file-upload-btn-text {
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .file-upload-to-server {
        position: absolute;
        display: none;
        width: 32vw;
        height: 5vh;
        border-radius: 4px;
        border: none;
        border-bottom: 4px solid var(--uploadImage-To-Server-btn-border);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        background-color: var(--uploagImage-To-Server-btn);
        margin: 67vh 0 0 33.5vw;
        font-family: 'Oswald';
        font-size: 3vw;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 5;
    }
    
    .file-upload-to-server:active {
        border: 0;
        transition: all .2s ease;
    }
    
    .file-upload-to-server:hover {
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .file-upload-content {
        position: absolute;
        display: none;
        width: 50vw;
        height: 30vh;
        border: dashed 4.4px var(--fileUpload-box-border);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        margin: 28.2vh 0 0 23.5vw;
        z-index: 10;
        font-size: 1vw;
        background-color: var(--fileUpload-box-backColor);
    }
    
    .file-upload-content-2 {
        position: absolute;
        display: none;
        width: 15.3vw;
        height: 40vh;
        margin: 28.2vh 42.3vw 0 42.3vw;
    }
    
    .remove-image {
        position: absolute;
        margin: 34vh 0 0 -6vw;
        height: 3vh;
        width: 20.4vw;
        color: #fff;
        background: var(--removeImage-btn);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        border: none;
        border-radius: 4px;
        border-bottom: 4px solid var(--removeImage-btn-border);
        font-weight: 700;
        font-size: 0.8vw;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 3;
    }
    
    .remove-image:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .remove-image:active {
        border: 0;
        transition: all .2s ease;
    }
    
    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }
    
    .image-upload-wrap {
        position: absolute;
        width: 50vw;
        height: 30vh;
        border: dashed 4.4px var(--fileUpload-box-border);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        margin: 28.2vh 0 0 23.5vw;
        z-index: 10;
        font-size: 1vw;
        background-color: var(--fileUpload-box-backColor);
    }
    
    .image-dropping,
    .image-upload-wrap:hover {
        background-color: rgba(54, 177, 192, 0.5);
        border: 4px dashed var(--fileUpload-box-border);
    }
    
    .image-title-wrap {
        padding: 0 15px 15px 15px;
        color: #222;
    }
    
    .drag-text {
        text-align: center;
    }
    
    .drag-text h3 {
        font-weight: 100;
        font-size: 3vw;
        text-transform: uppercase;
        color: var(--backgroundText);
        margin: 5vh 0 5vh 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    
    .file-upload-image {
        max-width: 100%;
        max-height: 100%;
    }
    
}

@media (min-width: 540px) and (max-width: 767px){
    * {
        scrollbar-width: none;
        margin: 0;
        padding: 0;
    }

    *::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
    
    body {
        background-color: var(--backgroundColor);
    }
    
    .background-text {
        position: absolute;
        margin: 1vw 7.1vw 0 1vw;
        line-height: 1.07;
        letter-spacing: normal;
        text-align: left;
        color: var(--backgroundText);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 2;
    } 

    .background-text-details {
        text-shadow: 0.3vw 0.3vw 0 rgba(0, 0, 0, 0.35);
        font-family: 'Oswald';
        font-size: 8vw;
        opacity: 0.5;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        transition: all .2s ease-in-out;
    }  

    .change-theme{
        text-shadow: 0.3vw 0.3vw 0 rgba(0, 0, 0, 0.35);
        font-family: 'Oswald';
        font-size: 8vw;
        opacity: 0.5;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        transition: all .2s ease-in-out;
    }

    #F-fox:hover {
        transition: all .2s ease-in-out;
        opacity: 1;
        font-size: 5vw;
        color: #F27127;
    }

    #P-Polar-bear:hover {
        opacity: 1;
        transition: all .2s ease-in-out;
        font-size: 5vw;
        color: #E9ECF2;
    }
    
    .file-upload {
        background-color: #ffffff;
        width: 600px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .file-upload-btn {
        position: absolute;
        width: 32vw;
        height: 9vw;
        border-radius: 4px;
        border: none;
        border-bottom: 4px solid var(--uploadImage-To-Web-btn-border);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        background-color: var(--uploadImage-To-Web-btn);
        margin: 67vh 0 0 33.5vw;
        font-family: 'Oswald';
        font-size: 3vw;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 8vh;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 5;
    }
    
    .file-upload-btn:active {
        border: 0;
        transition: all .2s ease;
    }
    
    .file-upload-btn-text {
        position: absolute;
        margin: -3.5vh 1.5vw 0 5vw;
    }
    
    .file-upload-btn:hover .file-upload-btn-text {
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .file-upload-to-server {
        position: absolute;
        display: none;
        width: 32vw;
        height: 5vh;
        border-radius: 4px;
        border: none;
        border-bottom: 4px solid var(--uploadImage-To-Server-btn-border);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        background-color: var(--uploagImage-To-Server-btn);
        margin: 67vh 0 0 33.5vw;
        font-family: 'Oswald';
        font-size: 3vw;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 5;
    }
    
    .file-upload-to-server:active {
        border: 0;
        transition: all .2s ease;
    }
    
    .file-upload-to-server:hover {
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .file-upload-content {
        position: absolute;
        display: none;
        width: 50vw;
        height: 30vh;
        border: dashed 4.4px var(--fileUpload-box-border);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        margin: 28.2vh 0 0 23.5vw;
        z-index: 10;
        font-size: 1vw;
        background-color: var(--fileUpload-box-backColor);
    }
    
    .file-upload-content-2 {
        position: absolute;
        display: none;
        width: 15.3vw;
        height: 40vh;
        margin: 28.2vh 42.3vw 0 42.3vw;
    }
    
    .remove-image {
        position: absolute;
        margin: 34vh 0 0 -5.4vw;
        height: 3vh;
        width: 20.4vw;
        color: #fff;
        background: var(--removeImage-btn);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        border: none;
        border-radius: 4px;
        border-bottom: 4px solid var(--removeImage-btn-border);
        font-weight: 700;
        font-size: 0.8vw;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 3;
    }
    
    .remove-image:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .remove-image:active {
        border: 0;
        transition: all .2s ease;
    }
    
    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }
    
    .image-upload-wrap {
        position: absolute;
        width: 50vw;
        height: 30vh;
        border: dashed 4.4px var(--fileUpload-box-border);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        margin: 28.2vh 0 0 23.5vw;
        z-index: 10;
        font-size: 1vw;
        background-color: var(--fileUpload-box-backColor);
    }
    
    .image-dropping,
    .image-upload-wrap:hover {
        background-color: rgba(54, 177, 192, 0.5);
        border: 4px dashed var(--fileUpload-box-border);
    }
    
    .image-title-wrap {
        padding: 0 15px 15px 15px;
        color: #222;
    }
    
    .drag-text {
        text-align: center;
    }
    
    .drag-text h3 {
        font-weight: 100;
        font-size: 3vw;
        text-transform: uppercase;
        color: var(--backgroundText);
        margin: 5vh 0 5vh 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    
    .file-upload-image {
        max-width: 100%;
        max-height: 100%;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px){
    * {
        margin: 0;
        padding: 0;
    }
    
    *::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }

    body {
        background-color: var(--backgroundColor);
    }
    
    .background-text {
        position: absolute;
        margin: 1vw 7.1vw 0 1vw;
        line-height: 1.07;
        letter-spacing: normal;
        text-align: left;
        color: var(--backgroundText);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 2;
    } 

    .background-text-details {
        text-shadow: 0.3vw 0.3vw 0 rgba(0, 0, 0, 0.35);
        font-family: 'Oswald';
        font-size: 8vw;
        opacity: 0.5;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        transition: all .2s ease-in-out;
    }

    .change-theme{
        text-shadow: 0.3vw 0.3vw 0 rgba(0, 0, 0, 0.35);
        font-family: 'Oswald';
        font-size: 8vw;
        opacity: 0.5;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        transition: all .2s ease-in-out;
    }

    #F-fox:hover {
        transition: all .2s ease-in-out;
        opacity: 1;
        font-size: 5vw;
        color: #F27127;
    }

    #P-Polar-bear:hover {
        opacity: 1;
        transition: all .2s ease-in-out;
        font-size: 5vw;
        color: #E9ECF2;
    }
    
    .file-upload {
        background-color: #ffffff;
        width: 600px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .file-upload-btn {
        position: absolute;
        width: 32vw;
        height: 8vw;
        border-radius: 4px;
        border: none;
        border-bottom: 4px solid var(--uploadImage-To-Web-btn-border);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        background-color: var(--uploadImage-To-Web-btn);
        margin: 67vh 0 0 33.5vw;
        font-family: 'Oswald';
        font-size: 3vw;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 6vw;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 5;
    }
    
    .file-upload-btn:active {
        border: 0;
        transition: all .2s ease;
    }
    
    .file-upload-btn-text {
        position: absolute;
        margin: -3.5vh 1.5vw 0 5vw;
    }
    
    .file-upload-btn:hover .file-upload-btn-text {
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .file-upload-to-server {
        position: absolute;
        display: none;
        width: 32vw;
        height: 5vh;
        border-radius: 4px;
        border: none;
        border-bottom: 4px solid var(--uploadImage-To-Server-btn-border);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        background-color: var(--uploagImage-To-Server-btn);
        margin: 67vh 0 0 33.5vw;
        font-family: 'Oswald';
        font-size: 3vw;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 5;
    }
    
    .file-upload-to-server:active {
        border: 0;
        transition: all .2s ease;
    }
    
    .file-upload-to-server:hover {
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .file-upload-content {
        position: absolute;
        display: none;
        width: 50vw;
        height: 30vh;
        border: dashed 4.4px var(--fileUpload-box-border);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        margin: 28.2vh 0 0 23.5vw;
        z-index: 10;
        font-size: 1vw;
        background-color: var(--fileUpload-box-backColor);
    }
    
    .file-upload-content-2 {
        position: absolute;
        display: none;
        width: 15.3vw;
        height: 40vh;
        margin: 28.2vh 42.3vw 0 42.3vw;
    }
    
    .remove-image {
        position: absolute;
        margin: 34vh 0 0 -4.65vw;
        height: 3vh;
        width: 20.4vw;
        color: #fff;
        background: var(--removeImage-btn);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        border: none;
        border-radius: 4px;
        border-bottom: 4px solid var(--removeImage-btn-border);
        font-weight: 700;
        font-size: 0.8vw;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 3;
    }
    
    .remove-image:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .remove-image:active {
        border: 0;
        transition: all .2s ease;
    }
    
    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }
    
    .image-upload-wrap {
        position: absolute;
        width: 50vw;
        height: 30vh;
        border: dashed 4.4px var(--fileUpload-box-border);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        margin: 28.2vh 0 0 23.5vw;
        z-index: 10;
        font-size: 1vw;
        background-color: var(--fileUpload-box-backColor);
    }
    
    .image-dropping,
    .image-upload-wrap:hover {
        background-color: rgba(54, 177, 192, 0.5);
        border: 4px dashed var(--fileUpload-box-border);
    }
    
    .image-title-wrap {
        padding: 0 15px 15px 15px;
        color: #222;
    }
    
    .drag-text {
        text-align: center;
    }
    
    .drag-text h3 {
        font-weight: 100;
        font-size: 3vw;
        text-transform: uppercase;
        color: var(--backgroundText);
        margin: 5vh 0 5vh 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    
    .file-upload-image {
        max-width: 100%;
        max-height: 100%;
    }
    
}

@media (min-width: 1025px){
    * {
        margin: 0;
        padding: 0;
    }

    *::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }   
    
    body {
        background-color: var(--backgroundColor);
    }
    
    .background-text {
        position: absolute;
        margin: 1vw 7.1vw 0 1vw;
        line-height: 1.07;
        letter-spacing: normal;
        text-align: left;
        color: var(--backgroundText);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 2;
    } 

    .background-text-details {
        text-shadow: 0.3vw 0.3vw 0 rgba(0, 0, 0, 0.35);
        font-family: 'Oswald';
        font-size: 3vw;
        opacity: 0.5;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        transition: all .2s ease-in-out;
    }  

    .change-theme{
        text-shadow: 0.3vw 0.3vw 0 rgba(0, 0, 0, 0.35);
        font-family: 'Oswald';
        font-size: 3vw;
        opacity: 0.5;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        transition: all .2s ease-in-out;
    }   

    #F-fox {
        transition: all .2s ease-in-out;
        opacity: 1;
        font-size: 5vw;
        color: #F27127;
    }

    #P-Polar-bear:hover {
        opacity: 1;
        transition: all .2s ease-in-out;
        font-size: 5vw;
        color: #E9ECF2;
    }
    
    .file-upload {
        background-color: #ffffff;
        width: 600px;
        margin: 0 auto;
        padding: 20px;
    }
    
    .file-upload-btn {
        position: absolute;
        width: 15vw;
        height: 11vh;
        border-radius: 10px;
        border: none;
        border-bottom: 4px solid var(--uploadImage-To-Web-btn-border);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        background-color: var(--uploadImage-To-Web-btn);
        margin: 69.5vh 42vw 0 42vw;
        font-family: 'Oswald';
        font-size: 1.6vw;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 3.5vw;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .file-upload-btn:active {
        border: 0;
        transition: all .2s ease;
    }
    
    .file-upload-btn-text {
        position: absolute;
        margin: -3.5vh 1.5vw 0 1.5vw;
    }
    
    .file-upload-btn:hover .file-upload-btn-text {
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .file-upload-to-server {
        position: absolute;
        display: none;
        width: 15vw;
        height: 11vh;
        border-radius: 10px;
        border: none;
        border-bottom: 4px solid var(--uploadImage-To-Server-btn-border);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        background-color: var(--uploagImage-To-Server-btn);
        margin: 69.5vh 42vw 0 42vw;
        padding: 1vw;
        font-family: 'Oswald';
        font-size: 1.6vw;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.33;
        letter-spacing: normal;
        text-align: center;
        color: #000;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .file-upload-to-server:active {
        border: 0;
        transition: all .2s ease;
    }
    
    .file-upload-to-server:hover {
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .file-upload-content {
        position: absolute;
        display: none;
        width: 15.3vw;
        height: 30vh;
        border: dashed 4.4px var(--fileUpload-box-border);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        margin: 28.2vh 41.5vw 0 41.5vw;
        z-index: 10;
        font-size: 1vw;
        background-color: none;
    }
    
    .file-upload-content-2 {
        position: absolute;
        display: none;
        width: 15.3vw;
        height: 40vh;
        margin: 28.2vh 42.3vw 0 42.3vw;
    }
    
    .remove-image {
        position: absolute;
        margin: 33vh 0 0 1.9vw;
        width: 10.4vw;
        color: #fff;
        background: var(--removeImage-btn);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        border: none;
        padding: 0.5vw;
        border-radius: 4px;
        border-bottom: 4px solid var(--removeImage-btn-border);
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.8vw;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .remove-image:hover {
        background: #c13b2a;
        color: #ffffff;
        transition: all .2s ease;
        cursor: pointer;
    }
    
    .remove-image:active {
        border: 0;
        transition: all .2s ease;
    }
    
    .file-upload-input {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        outline: none;
        opacity: 0;
        cursor: pointer;
    }
    
    .image-upload-wrap {
        position: absolute;
        width: 15.3vw;
        height: 30vh;
        border: dashed 4.4px var(--fileUpload-box-border);
        box-shadow: 0.6vw 1vh 0 rgba(0, 0, 0, 0.35);
        margin: 28.2vh 0 0 41.5vw;
        z-index: 10;
        font-size: 1vw;
        background-color: var(--fileUpload-box-backColor);
    }
    
    .image-dropping,
    .image-upload-wrap:hover {
        background-color: rgba(54, 177, 192, 0.5);
    }

    .drag-text {
        text-align: center;
    }
    
    .drag-text h3 {
        font-weight: 100;
        font-size: 1vw;
        text-transform: uppercase;
        color: var(--backgroundText);
        margin: 5vh 0 5vh 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    
    .file-upload-image {
        max-width: 15.3vw;
        max-height: 30vh;
    }
}