<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="../static/style.css">
    <link rel="stylesheet" media="screen" href="../static/backMountain.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <title>PROJECT PAI</title>
</head>

<body>
    <!--최상위 부모요소-->
    <div style="position: relative;">
        <!--배경 텍스트 -->
        <div class="background-text">
            <a class="background-text-details">E.S.C</a><br>
            <a class="background-text-details">ENDANGERED</a><br>
            <a class="background-text-details">S</a>
            <a class="change-theme" id="P-Polar-bear" onclick="window.location.href='/Polarbear'">P</a>
            <a class="background-text-details">ECIES CATCH</a><br>
            <a class="background-text-details">YOU CAN</a><br>
            <a class="change-theme" id="F-fox" onclick="window.location.href='/Fox'">F</a>
            <a class="background-text-details">IND</a><br>
            <a class="background-text-details">ENDANGERED</a><br>
            <a class="background-text-details">S</a>
            <a class="change-theme" id="P-Polar-bear" onclick="window.location.href='main/Polarbear'">P</a>
            <a class="background-text-details">ECIES</a><br>
        </div>

        <!--파일 업로드 폼-->
        <form action="http://smc.kjmdomain.link:8000/main" method="POST" enctype="multipart/form-data">

            <!--박스 클릭시 사진 업로드-->
            <div class="image-upload-wrap">
                <input class="file-upload-input" type='file' onmouseover="return turnOnWindowYellow();" onmouseout="return turnOffWindow();" onchange="readURL(this);" accept="image/*" name="file" />
                <div class="drag-text">
                    <h3>Drag and drop a file or select add Image</h3>
                </div>
            </div>

            <!--버튼 클릭시 사진 업로드-->
            <button class="file-upload-btn" type="button" onmouseover="return turnOnWindowYellow();" onmouseout="return turnOffWindow();" onclick="$('.file-upload-input').trigger( 'click' )">
                <a class="file-upload-btn-text">UPLOAD IMAGE 💾</a>
            </button>
            
            <div class="img-uploaded-action">
                <!--업로드된 사진을 지우는 버튼-->
                <div class="file-upload-content-2">
                    <div class="image-title-wrap file-edit-icon">
                        <button type="button" onmouseover="return turnOnWindowRed();" onmouseout="return turnOffWindow();"
                            class="remove-image preview-de">
                            Remove Uploaded
                        </button>
                    </div>
                </div>

             <!--업로드된 사진을 서버로 보내는 버튼-->
             <input class="file-upload-to-server" onmouseover="return turnOnWindowGreen();"
             onmouseout="return turnOffWindow();" type="submit" value="ANALYZE PHOTO">

            <!--업로드된 이미지가 들어가게 됨-->
            <div class="file-upload-content">
                <img class="file-upload-image" src="#" alt="your image" />
            </div>
        </form>

        <!--너무 밋밋해서 넣은 자연 친화적 배경-->
        <div class="container">
            <div class="mountain"><span></span><span></span><span></span>
            </div>
            <div class="mountain-right">
                <div class="mountain"><span></span><span></span><span></span>
                </div>
            </div>
            <div class="mountain-small1">
                <div class="mountain"><span> </span><span> </span><span> </span>
                </div>
            </div>
            <div class="mountain-small">
                <div class="mountain"><span> </span><span> </span><span> </span>
                </div>
            </div>
            <div class="rock"><span></span><span></span><span></span><span></span>
            </div>
            <div class="rock rock-right"><span> </span><span> </span><span> </span><span> </span>
            </div>
            <div class="rock-shadow"></div>
            <div class="rock-shadow isright"></div>
            <div class="left">
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree-group-top">
                    <div class="tree">
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="body"></div>
                    </div>
                    <div class="tree">
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="body"></div>
                    </div>
                    <div class="tree">
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="body"></div>
                    </div>
                    <div class="tree">
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="body"></div>
                    </div>
                    <div class="tree">
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="body"></div>
                    </div>
                    <div class="tree">
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="body"></div>
                    </div>
                    <div class="tree">
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="body"></div>
                    </div>
                    <div class="tree">
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="body"></div>
                    </div>
                    <div class="tree">
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="bough"></div>
                        <div class="body"></div>
                    </div>
                </div>
            </div>
            <div class="path"></div>
            <div class="weak-light"></div>
            <div class="weak-light1"></div>
            <div class="weak-light2"></div>
            <div class="weak-light3"></div>
            <div class="weak"></div>
            <div class="weak1"></div>
            <div class="weak2"></div>
            <div class="weak3"></div>
            <div class="bottom">
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
            </div>
            <div class="bottom1">
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
            </div>
            <div class="bottom2">
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
            </div>
            <div class="bottom3">
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
            </div>
            <div class="bottom4">
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
            </div>
            <div class="bottom5">
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
            </div>
            <div class="bottom6">
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
            </div>
            <div class="bottom7">
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
            </div>
            <div class="bottom8">
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
            </div>
            <div class="path-detail-left"></div>
            <div class="home">
                <div class="roof"></div>
                <div class="left-wall"></div>
                <div class="wall"></div>
                <div id="window"></div>
            </div>
            <div class="right">
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
                <div class="tree">
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="bough"></div>
                    <div class="body"></div>
                </div>
            </div>
            <div class="stars">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            <div class="stars1">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
            <div class="stars2">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
        </div>

        <!--멸종 위기종 목록과 설명이 들어가게 될거임-->
        <div class="ENDANGERED">

        </div>
    </div>


</body>
<script type="text/javascript" src="../static/js/fileUpload.js"></script>
<script type="text/javascript" src="../static/js/turnOnWindow.js"></script>

</html>
















<!--저작권-->
<!--Copyright (c) 2022 by Aaron Vanston (https://codepen.io/aaronvanston/pen/yNYOXR)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

-->
<!--Copyright (c) 2022 by 이정범 (https://codepen.io/klrpmtqn-the-lessful/pen/eYVEmdp)
Fork of an original work the night (https://codepen.io/knyttneve/pen/wxOjJP

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->